<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "store.goldengal.app"
        versionCode = "10"
        version     = "1.2.0">

    <name>Дрянная Девчонка</name>

    <description>
        Интернет-магазин ювелирных украшений ручной работы «Дрянная девчонка»
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FFFFFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/6d81a3498efc8167d5cbe6e1e95375dd.png" density="ldpi" />
        <icon src="res/android/icon/2f05d405966c7dab81c45b11ff8c6f68.png" density="mdpi" />
        <icon src="res/android/icon/70df40c4badd1dc76b89dd21ed8393ef.png" density="hdpi" />
        <icon src="res/android/icon/39be10f20eb7a42696e0c971f1ab45c8.png" density="xhdpi" />
        <icon src="res/android/icon/810ad14b65a57406c357121a3b8f48bb.png" density="xxhdpi" />
        <icon src="res/android/icon/40764e8edb80bdf0563842ce0ae4b7a8.png" density="xxxhdpi" />

        <splash src="res/android/screen/afe123d805f9a39d5427c809e6a85ecd.png" density="port-hdpi"/>
        <splash src="res/android/screen/79302e117905cc48af59c72341dc2584.png" density="port-ldpi"/>
        <splash src="res/android/screen/c008823cb1951b7e792eccc0b066739e.png" density="port-mdpi"/>
        <splash src="res/android/screen/36884252760a2136df12c8e3f37615ba.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/3464d6da971a445d98c30cd186243e4a.png" width="180" height="180" />
        <icon src="res/ios/icon/38f79dbb495d89e7ad091924530754c0.png" width="60" height="60" />
        <icon src="res/ios/icon/a6b5c59f208f808e292419d1e9819f0f.png" width="120" height="120" />
        <icon src="res/ios/icon/485e17504b2426babc8decb5fe40dfb3.png" width="76" height="76" />
        <icon src="res/ios/icon/9275fd33674307f156c3cddd56164252.png" width="152" height="152" />
        <icon src="res/ios/icon/969bce86ec5e2c38bd409cc1574e9bbe.png" width="57" height="57" />
        <icon src="res/ios/icon/60e09e4d171b13ef465a53a93734cab3.png" width="114" height="114" />
        <icon src="res/ios/icon/0cc0701e2d10f1223ccc294dcb090a44.png" width="72" height="72" />
        <icon src="res/ios/icon/fe3900201d02da0b500615d79ba3607e.png" width="144" height="144" />
        <icon src="res/ios/icon/efd98d639d517235fc3ffc1c4a10e28f.png" width="167" height="167" />
        <icon src="res/ios/icon/b58ca71b1d39c0e246f323ce1075652b.png" width="29" height="29" />
        <icon src="res/ios/icon/6078bd2f86083972404d26f4922d0de2.png" width="58" height="58" />
        <icon src="res/ios/icon/01cf0d8607af90e5809cbd8d2b824ea5.png" width="87" height="87" />
        <icon src="res/ios/icon/9fceb3d979b0b84e58b16b1cf91bdccd.png" width="167" height="167" />

        <splash src="res/ios/screen/1c3424fbc84a93e9aea619bcdc6301cc.png" />
        <splash src="res/ios/screen/a5dcbfa974bb4ab91ab4695bde828b38.png" />
        <splash src="res/ios/screen/a9feceb591df0cef8fd62bc62c194b9a.png" />
        <splash src="res/ios/screen/c88ce1b745dc190ce4303ccf5f90b0b4.png" />
        <splash src="res/ios/screen/31b6b33d3a6396ae13a88f4a0004ea7f.png" />
        <splash src="res/ios/screen/132cb613052c883706137d33e46ba547.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/a6316acdc5c2de76fb4a819e9b2fa6a1.png" target="StoreLogo" />
        <icon src="res/windows/icon/ddf14d7231e27d1808d76b5467e093e2.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/092f4c5a75af31ef9a7e874981a7e685.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/42c2c8c6f1cc1f2a79cb4f7a04773549.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/01525a307c9efd7ce552c7ac5e6de63f.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/4376d65c314e2bc0bcda0bec7deafc9c.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/e33c810f0d9d7c78ee1bb16c69582147.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/718a3f10bd3568e2d38822039c692a34.png" target="SplashScreen"/>
        <splash src="res/windows/screen/8a4a7fcd5541a990d6e395c632fa0429.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>